/*-------------------------------------------------
    [ ### affiliate block ]
*/
.affiliate-section{
    position: relative;
    .affiliate-element{
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.affiliate-content{
    text-align: center;
    .title{
        margin-bottom: 20px;
    }
    .affiliate-btn{
        margin-top: 50px;
        a{
            border-radius: 6px;
        }
    }
}