/*-------------------------------------------------
    [ ### call-to-action block ]
*/
.call-to-action-section{
  position: relative;
  z-index: 2;
  &.two{
      background-color: #BCDEFF;
      @media only screen and (max-width: 991px) {
          padding-top: 80px;
      }
  }
  .call-to-action-element{
      position: absolute;
      top: 22%;
      left: 18%;
      mix-blend-mode: multiply;
      z-index: -1;
      @media only screen and (max-width: 767px) {
          display: none;
      }
  }
}
.call-to-action-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 575px) {
      display: block;
      text-align: center;
  }
  .left{
      .title{
          color: $white;
      }
      .sub-title{
          color: #16FCE7;
          font-size: 18px;
      }
  }
  .center{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media only screen and (max-width: 767px) {
          padding-top: 30px;
      }
      @media only screen and (max-width: 575px) {
          display: block;
          text-align: center;
      }
      .icon{
          width: 74px;
          height: 74px;
          line-height: 74px;
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          background-color: $white;
          color: $text--base;
          font-size: 40px;
          border-radius: 50%;
      }
      .content{
          width: calc(100% - 74px);
          padding-left: 30px;
          @media only screen and (max-width: 575px) {
              width: 100%;
              padding-left: 0;
              padding-top: 20px;
          }
      }
      .sub-title{
          color: $white;
          margin-bottom: 15px;
          font-size: 18px;
          @media only screen and (max-width: 991px) {
              font-size: 16px;
          }
      }
      .title{
          color: $white;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 0;
          @media only screen and (max-width: 991px) {
              font-size: 22px;
          }
      }
  }
  .right{
      @media only screen and (max-width: 991px) {
          padding-top: 30px;
      }
      .call-to-action-btn{
          a{
              i{
                  color: #16FCE7;
              }
          }
      }
  }
  &.two{
      .left{
          .sub-title{
              font-size: 18px;
              font-weight: 400;
              color: $color__heading;
              margin-bottom: 20px;
              @media only screen and (max-width: 991px) {
                  font-size: 16px;
              }
          }
          .title{
              font-size: 30px;
              color: $color__heading;
              margin-bottom: 20px;
              @media only screen and (max-width: 991px) {
                  font-size: 22px;
              }
              span{
                  a{
                      text-decoration: underline;
                  }
              }
          }
          p{
              font-size: 18px;
              @media only screen and (max-width: 991px) {
                  font-size: 16px;
              }
          }
      }
      .right{
          padding-top: 40px;
      }
  }
}