/*-------------------------------------------------
    [ ### cart block ]
*/
.cart-section{
    position: relative;
    .cart-element-one{
        position: absolute;
        top: 10%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 1300px) {
            display: none;
        }
    }
    .cart-element-two{
        position: absolute;
        top: 30%;
        right: 3%;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 1300px) {
            display: none;
        }
    }
}
.cart-widget-area{
    margin-bottom: -30px;
    .cart-widget{
        border: 1px solid #CEE3FF;
        border-radius: 6px;
        margin-bottom: 30px;
        overflow: hidden;
        .cart-widget-item{
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media only screen and (max-width: 575px) {
                display: block;
                padding: 20px;
            }
            .cart-widget-item-left{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @media only screen and (max-width: 490px) {
                    display: block;
                }
                .cart-widget-thumb{
                    width: 84px;
                }
                .cart-widget-content{
                    width: calc(100% - 84px);
                    padding-left: 30px;
                    @media only screen and (max-width: 490px) {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 20px;
                    }
                    .title{
                        font-weight: 600;
                        margin-bottom: 25px;
                        @media only screen and (max-width: 575px) {
                            margin-bottom: 15px;
                        }
                        span{
                            font-weight: 800;
                        }
                    }
                    .nice-select{
                        height: 45px;
                        line-height: 45px;
                        background-color: transparent;
                        border: 1px solid #DEDEDE;
                        border-radius: 6px;
                        @media only screen and (max-width: 490px) {
                            width: 100%;
                            margin-bottom: 30px;
                        }
                        span{
                            color: $color__heading;
                            font-size: 14px;
                            letter-spacing: 1px;
                        }
                        .list{
                            li{
                                font-weight: 400;
                            }
                        }
                        &::after{
                            border-bottom: 2px solid $color__heading;
                            border-right: 2px solid $color__heading;
                            right: 18px;
                            margin-top: -5px;
                        }
                        &:focus{
                            span{
                                color: $color__heading;
                            }
                            &::after{
                                border-bottom: 2px solid $color__heading;
                                border-right: 2px solid $color__heading;
                            }
                        }
                    }
                }
            }
            .cart-widget-item-right{
                text-align: right;
                @media only screen and (max-width: 767px) {
                    margin-top: 30px;
                    text-align: left;
                }
                .cart-widget-price{
                    .price{
                        font-size: 24px;
                        font-weight: 700;
                        color: $text--base;
                        margin-bottom: 15px;
                        span{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    .cross-price{
                        font-size: 16px;
                        font-weight: 400;
                        color: $color__heading;
                    }
                }
                .cart-widget-offer{
                    span{
                        color: $text--base;
                        text-decoration: underline;
                    }
                }
            }
        }
        .cart-widget-footer{
            background-color: #F1F7FF;
            padding: 10px 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 490px) {
                padding: 10px 20px;
            }
            p{
                margin-bottom: 0;
                font-size: 14px;
            }
            .cart-cross-btn{
                span{
                    color: $text--base;
                    font-size: 20px;
                }
            }
        }
    }
}
.cart-coupon-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    @media only screen and (max-width: 490px) {
        display: block;
    }
    .coupon-form{
        display: flex;
        input{
            background-color: #F1F7FF;
            width: 160px;
            &::placeholder{
                color: #BEBEBE;
            }
        }
        button{
            border-radius: 6px;
            margin-left: 20px;
        }
    }
    .coupon-btn{
        @media only screen and (max-width: 490px) {
            margin-top: 15px;
        }
        a{
            border-radius: 6px;
            padding: 20px 25px;
            background-color: #F1F7FF;
            font-weight: 500;
            border: 2px solid #F1F7FF;
            color: $color__heading;
        }
    }
}
.summary-widget{
    background-color: #F1F7FF;
    padding: 30px;
    border-radius: 7px;
    .widget-title{
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        &::before{
            position: absolute;
            content: '';
            top: 3px;
            left: -30px;
            width: 3px;
            height: 20px;
            background-color: $bg--base;
        }
    }
    p{
        color: #7B7B7B;
        font-size: 14px;
        margin-top: 20px;
    }
    .order-list{
        margin-bottom: -8px;
        li{
            font-weight: 500;
            padding-bottom: 15px;
            border-bottom: 1px dashed #DEDEDE;
            margin-bottom: 15px;
            span{
                float: right;
            }
        }
    }
    .apply-coupon-btn{
        margin-top: 40px;
        a{
            border-radius: 6px;
            background-color: $color__heading;
            border: 2px solid $color__heading;
            &:hover{
                color: $color__heading;
            }
        }
    }
}
.satisfaction-widget{
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(90deg, #741ADB 0%, #1958D8 100%) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        z-index: -1;
    }
    .satisfaction-widget-element{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: screen;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .satisfaction-widget-icon{
        font-size: 100px;
        color: $white;
        margin-bottom: 15px;
    }
    .satisfaction-widget-content{
        .title{
            color: $white;
            margin-bottom: 15px;
        }
        p{
            background: rgba($white, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 6px;
            padding: 20px;
            color: $white;
        }
    }
}