/*-------------------------------------------------
    [ ### contact block ]
*/
.contact-section{
    position: relative;
    .contact-element-one{
        position: absolute;
        left: 6%;
        bottom: -25%;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
    .contact-element-two{
        position: absolute;
        right: 2%;
        top: 25%;
        animation: horizontal-move 3s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
    .contact-element-three{
        position: absolute;
        left: 60%;
        bottom: 10%;
        animation: horizontal-move 2s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
    .contact-element-four{
        position: absolute;
        left: 50%;
        top: -5%;
        animation: rotate 3s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
}
.contact-form{
    background-color: #F1F7FF;
    padding: 40px;
    border-radius: 6px;
    @media only screen and (max-width: 991px) {
        padding: 20px;
    }
    .contact-select{
        .nice-select{
            &::after{
                border-bottom: 2px solid #535353;
                border-right: 2px solid #535353;
            }
        }
        .form--control{
            line-height: 30px;
        }
    }
    .nice-select .current{
        color: #535353;
        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }
    }
    .nice-select .option{
        font-weight: 500;
        font-size: 14px;
        color: #535353;
        &:hover{
            color: $white;
        }
    }
    label{
        color: $color__text;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 15px;
        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }
    }
    .form--control{
        border: 1px solid transparent;
        background-color: $white;
        border-radius: 3px;
        height: 55px;
        color: #535353;
        font-family: $font_body;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 16px;
        &:focus{
            border: 1px solid $bg--base;
            background-color: $white;
            color: #535353;
        }
        &::placeholder{
            color: #535353;
        }
    }
    textarea{
        min-height: 170px;
    }
    button{
        border-radius: 6px;
    }
}
.contact-overview-section{
    position: relative;
    .contact-overview-element-one{
        position: absolute;
        left: 6%;
        bottom: 35%;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
    .contact-overview-element-two{
        position: absolute;
        right: 2%;
        bottom: 5%;
        animation: horizontal-move 3s linear infinite;
        @media only screen and (max-width: 1650px) {
            display: none;
        }
    }
}
.contact-overview-content{
    margin-left: 40px;
    @media only screen and (max-width: 991px) {
        margin-left: 0;
    }
    .title{
        margin-bottom: 20px;
    }
    .contact-overview-btn{
        margin-top: 50px;
        a{
            border-radius: 6px;
        }
    }
}
.contact-item-section{
    position: relative;
    margin-top: -120px;
    .contact-item-element-one{
        position: absolute;
        top: 80%;
        left: 7%;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
}
.contact-item{
    padding: 40px 30px 25px 30px;
    background-color: $white;
    border-radius: 6px;
    transition: all 0.5s;
    &:hover,
    &.active{
        box-shadow: 0 10px 30px rgba($bg--base, 0.12);
    }
    .contact-icon{
        width: 80px;
        height: 80px;
        line-height: 80px;
        display: inline-block;
        text-align: center;
        background: transparent linear-gradient(180deg, #741ADB 0%, #1958D8 100%) 0% 0% no-repeat padding-box;
        color: $white;
        border-radius: 7px;
        font-size: 50px;
        margin-bottom: 25px;
        transition: all 0.5s;
    }
    .contact-content{
        p{
            font-weight: 500;
            margin-bottom: 6px;
        }
    }
}
.map-area{
    iframe{
        width: 100%;
        height: 500px;
    }
}