// Faq Section Styling Here
.faq-section{
    position: relative;
    .faq-element-one{
        position: absolute;
        top: 20%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .faq-element-two{
        position: absolute;
        bottom: 5%;
        right: 5%;
        animation: rotate 50s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
}