// Feature Section Area Styling Here
.feature-section{
    position: relative;
    overflow: hidden;
    &.two{
        background-color: #FBFAFF;
        position: relative;
        .feature-element{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .feature-element-one{
        position: absolute;
        top: 10%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    .feature-element-two{
        position: absolute;
        top: 50%;
        right: 0;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
  }