/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.footer-section {
  position: relative;
  background-color: #F9FBFF;

  .footer-element {
    position: absolute;
    top: 5%;
    left: 2%;
  }
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  &.two {
    margin-bottom: 0;
    margin-top: 60px;
    @media only screen and (max-width: 991px) {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 991px) {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.footer-top-area {
  background-color: $white;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  z-index: 9;
  @media only screen and (max-width: 991px) {
    padding: 20px;
  }
}

.footer-bottom {
  &.two {
    .footer-widget {
      .title {
        position: relative;
        margin-bottom: 35px;

        &::before {
          position: absolute;
          content: '';
          bottom: -15px;
          left: 0;
          width: 35px;
          height: 2px;
          background-color: $bg--base;
        }

        &::after {
          position: absolute;
          content: '';
          bottom: -15px;
          left: 40px;
          width: 15px;
          height: 2px;
          background-color: $bg--base;
        }
      }
    }
  }
}

.footer-list {
  margin-bottom: -10px;

  li {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }

    a {
      display: inline-block;
      transition: all 0.3s;

      &:hover {
        color: $text--base;
        padding-left: 5px;
      }
    }
  }
}

.subscribe-form {
  position: relative;

  input {
    background: transparent;
    border: 1px solid #BFDAF1;
    color: #C2C2C2;
    border-radius: 10px;
    font-family: $font_body;
    font-size: 16px;
    padding-right: 230px;
    height: 70px;
    position: relative;
    font-weight: 400;
    @media only screen and (max-width: 991px) {
      padding-right: 40px;
      font-size: 14px;
      height: 60px;
    }

    &:focus {
      background: transparent;
      border: 1px solid #BFDAF1;
      color: #C2C2C2;

      &::placeholder {
        color: #C2C2C2;
      }
    }

    &::placeholder {
      color: #C2C2C2;
    }
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    @media only screen and (max-width: 991px) {
      position: unset;
      width: 100%;
      font-size: 14px;
      margin-top: 15px;
    }
  }
}

.footer-statistics-area {
  .statistics-item {
    @media only screen and (max-width: 575px) {
      float: left !important;
    }

    .title {
      font-weight: 700;
      font-family: $font_body;
      margin-bottom: 3px;
      @media only screen and (max-width: 991px) {
        font-size: 15px;
      }
    }

    p {
      color: $text--base;
      font-weight: 500;
      @media only screen and (max-width: 575px) {
        font-size: 12px;
      }
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  &.two {
    .statistics-item {
      text-align: left;

      .sub-title {
        font-weight: 500;
        margin-bottom: 5px;
      }

      .title {
        color: $text--base;
      }
    }
  }
}

.footer-widget {
  .title {
    margin-bottom: 25px;
  }
}

.footer-social {
  margin-top: 20px;

  li {
    display: inline-block;

    a {
      width: 35px;
      height: 35px;
      line-height: 35px;
      display: inline-block;
      text-align: center;
      background-color: $white;
      border-radius: 50%;
      color: #747474;
      transition: all 0.3s;

      &:hover,
      &.active {
        background-color: $bg--base;
        color: $white;
      }
    }
  }

  li + li {
    margin-left: 5px;
  }
}

.footer-logo {
  margin-bottom: 15px;
  @media only screen and (max-width: 991px) {
    margin-bottom: 10px;
  }

  a {
    margin-right: 0;
  }
}

.footer-bottom-wrapper {
  background-color: $bg--base;
  padding: 15px 0;
  margin-top: 125px;
  @media only screen and (max-width: 991px) {
    margin-top: 80px;
  }

  .footer-wrapper-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 991px) {
      justify-content: center;
    }
  }

  .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media only screen and (max-width: 767px) {
      display: block;
      text-align: center;
    }

    .footer-logo {
      margin-bottom: 0;
      @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    .footer-copyright-list {
      margin-left: 80px;
      @media only screen and (max-width: 767px) {
        margin-left: 0;
      }

      li {
        display: inline-block;
        color: $white;
      }

      li + li {
        margin-left: 35px;
        @media only screen and (max-width: 575px) {
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    @media only screen and (max-width: 991px) {
      margin-top: 20px;
    }

    .footer-social {
      margin-top: 0;

      li {
        a {
          &:hover,
          &.active {
            background-color: $white;
            color: $text--base;
          }
        }
      }
    }
  }
}

.copyright-wrapper {
  background-color: $bg--base;
  padding: 15px 0;
  margin-top: 120px;
  @media only screen and (max-width: 991px) {
    margin-top: 80px;
  }

  &.two {
    background-color: #F9FBFF;
    padding: 40px 0;
    margin-top: 0;
    @media only screen and (max-width: 991px) {
      padding: 15px 0;
    }

    .copyright-area {
      p {
        color: $color__text;
      }
    }
  }
}

.copyright-area {
  text-align: center;

  p {
    color: $white;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
  }
}
.copyright-text{
  color: $white;
}