/*--------------------------------------------------------------
	## Banner
--------------------------------------------------------------*/
.banner-section{
  position: relative;
  padding-top: 355px;
  padding-bottom: 280px;
  background: transparent linear-gradient(92deg, #741ADB 0%, #1958D8 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
  z-index: 8;
  @media only screen and (max-width: 1199px) {
      padding-top: 200px;
      padding-bottom: 200px;
  }
  @media only screen and (max-width: 991px) {
      padding-top: 200px;
      padding-bottom: 100px;
  }
  @media only screen and (max-width: 575px) {
      padding-top: 160px;
      padding-bottom: 110px;
  }
  &.two{
      background: $bg--gray;
      padding-top: 280px;
      padding-bottom: 112px;
      @media only screen and (max-width: 1199px) {
          padding-top: 180px;
          padding-bottom: 112px;
      }
      .banner-element-two{
          position: absolute;
          bottom: 0;
          left: 0;
      }
      .banner-thumb-area{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          .title{
              color: #747474;
          }
          .banner-thumb-left{
              margin-right: 80px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 180px;
              @media only screen and (max-width: 767px) {
                  display: none;
              }
              .top{
                  position: relative;
                  &::after{
                      position: absolute;
                      content: '';
                      bottom: -35px;
                      right: -60px;
                      width: 100%;
                      height: 100%;
                      background-image: url(../images/arrow/arrow-1.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: bottom right;
                  }
              }
              .down{
                  position: relative;
                  &::after{
                      position: absolute;
                      content: '';
                      top: -35px;
                      right: -60px;
                      width: 100%;
                      height: 100%;
                      background-image: url(../images/arrow/arrow-2.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: bottom right;
                  }
              }
          }
          .banner-thumb-right{
              margin-left: 80px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 180px;
              @media only screen and (max-width: 767px) {
                  display: none;
              }
              .top{
                  position: relative;
                  &::after{
                      position: absolute;
                      content: '';
                      bottom: -35px;
                      left: -60px;
                      width: 100%;
                      height: 100%;
                      background-image: url(../images/arrow/arrow-3.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: bottom right;
                  }
              }
              .down{
                  position: relative;
                  &::after{
                      position: absolute;
                      content: '';
                      top: -35px;
                      left: -60px;
                      width: 100%;
                      height: 100%;
                      background-image: url(../images/arrow/arrow-4.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: bottom right;
                  }
              }
          }
      }
  }
  &.three{
      padding-top: 350px;
      padding-bottom: 120px;
      @media only screen and (max-width: 1199px) {
          padding-top: 180px;
          padding-bottom: 120px;
      }
  }
  &.four{
      @media only screen and (max-width: 1199px) {
          padding-top: 250px;
          padding-bottom: 120px;
      }
      &::after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 54%;
          height: 100%;
          background-color: $bg--base;
          clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
          @media only screen and (max-width: 1499px) {
              width: 60%;
          }
          @media only screen and (max-width: 1370px) {
              width: 70%;
          }
          @media only screen and (max-width: 1199px) {
              width: 75%;
          }
          @media only screen and (max-width: 1099px) {
              width: 83%;
          }
          @media only screen and (max-width: 991px) {
              width: 95%;
          }
          @media only screen and (max-width: 870px) {
              width: 100%;
          }
          @media only screen and (max-width: 830px) {
              clip-path: none;
              opacity: .7;
          }
      }
      .banner-element-four{
          position: absolute;
          top: 25%;
          right: 3%;
      }
  }
  &.inner{
      padding-top: 274px;
      padding-bottom: 104px;
      @media only screen and (max-width: 1199px) {
          padding-top: 178px;
          padding-bottom: 87px;
      }
      .banner-element-two{
          bottom: -65%;
      }
      .banner-element-three{
          position: absolute;
          bottom: 0;
          left: 8%;
      }
      .banner-content{
          .title{
              margin-bottom: 0;
          }
      }
  }
  .banner-element{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
  .banner-thumb-element-six{
      position: absolute;
      bottom: 35%;
      left: 55%;
      @media only screen and (max-width: 991px) {
          display: none;
      }
  }
  .banner-thumb-element-seven{
      position: absolute;
      bottom: 26%;
      left: 51%;
      img{
          animation: scroll-down 3s linear infinite;
      }
      @media only screen and (max-width: 991px) {
          display: none;
      }
  }
  .banner-content{
      position: relative;
      z-index: 9;
      .title{
          margin-bottom: 30px;
          text-transform: capitalize;
          color: $white;
          font-weight: 800;
          line-height: 1.4;
          @media only screen and (max-width: 991px) {
              margin-bottom: 10px;
          }
      }
      .sub-title{
          color: $white;
          letter-spacing: 0.8px;
          font-weight: 500;
          font-size: 17px;
          background: transparent linear-gradient(270deg, #FFFFFF00 0%, #1958D8 100%) 0% 0% no-repeat padding-box;
          font-family: $font_body;
          padding: 3px 8px;
          border-left: 2px solid $white;
          text-transform: uppercase;
          margin-bottom: 30px;
      }
      p{
          color: $white;
          width: 70%;
          line-height: 1.8em;
          @media only screen and (max-width: 991px) {
              width: 100%;
          }
      }
      .banner-btn{
          margin-top: 40px;
          a{
              i{
                  font-size: 18px;
              }
          }
      }
      &.two{
          .title{
              color: $color__heading;
          }
          .sub-title{
              font-weight: 600;
              background: transparent;
              padding: 0;
              border: none;
              color: $text--base;
              margin-bottom: 20px;
          }
          p{
              width: 100%;
              color: $color__heading;
              font-size: 17px;
              font-weight: 600;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              justify-content: center;
              @media only screen and (max-width: 991px) {
                  font-size: 14px;
              }
              span{
                  font-size: 30px;
                  font-weight: 700;
                  padding: 0 15px;
                  @media only screen and (max-width: 991px) {
                      font-size: 18px;
                  }
              }
          }
          .banner-btn{
              margin-top: 55px;
          }
      }
      &.three{
          .sub-title{
              font-size: 20px;
              text-transform: unset;
              background: transparent;
              padding: 0;
              border: none;
              @media only screen and (max-width: 991px) {
                  font-size: 18px;
              }
              @media only screen and (max-width: 575px) {
                  font-size: 16px;
                  line-height: 2em;
              }
              span{
                  color: #16FCE7;
              }
          }
          .title{
              font-size: 75px;
              @media only screen and (max-width: 991px) {
                  font-size: 50px;
              }
              @media only screen and (max-width: 575px) {
                  font-size: 40px;
              }
          }
          .domain-search-form{
              margin-top: 40px;
              input{
                  height: 100px;
                  border-radius: 10px;
                  font-size: 18px;
                  padding-right: 250px;
                  @media only screen and (max-width: 522px) {
                      height: 70px;
                      font-size: 16px;
                      padding-left: 30px;
                      padding-right: 30px;
                  }
              }
              .nice-select{
                  border-radius: 10px 0 0 10px;
                  height: 70px;
                  line-height: 70px;
                  span{
                      font-size: 16px;
                  }
              }
              .doamin-search-btn-area{
                  @media only screen and (max-width: 522px) {
                      position: unset;
                      margin-top: 15px;
                  }
              }
              .domain-search-btn{
                  padding: 23px 30px;
                  border-radius: 0 10px 10px 0;
                  font-size: 15px;
                  @media only screen and (max-width: 991px) {
                      padding: 24.5px 30px;
                  }
                  &::before{
                      top: 25px;
                  }
                  i{
                      top: 2px;
                  }
              }
          }
          &.four{
              .title{
                  font-size: 50px;
                  @media only screen and (max-width: 991px) {
                      font-size: 40px;
                  }
                  @media only screen and (max-width: 575px) {
                      font-size: 30px;
                  }
              }
              .inner-title{
                  color: $white;
                  margin-bottom: 30px;
                  @media only screen and (max-width: 575px) {
                      margin-bottom: 20px;
                  }
              }
          }
          .domain-search-list{
              li{
                  padding: 25px;
                  background-color: rgba($white,.2);
                  border-radius: 6px;
                  text-align: center;
                  font-size: 16px;
                  @media only screen and (max-width: 1199px) {
                      padding: 20px;
                      font-size: 14px;
                  }
                  @media only screen and (max-width: 991px) {
                      margin-bottom: 10px;
                  }
                  @media only screen and (max-width: 767px) {
                      padding: 15px;
                      font-size: 14px;
                  }
                  @media only screen and (max-width: 575px) {
                      margin-right: 10px;
                  }
                  @media only screen and (max-width: 522px) {
                      margin-right: 10px;
                  }
                  &::after{
                      display: none;
                      font-size: 13px;
                  }
                  span{
                      display: block;
                      text-align: center;
                      color: #16FCE7;
                      font-size: 20px;
                      margin-bottom: 15px;
                      margin-right: 0;
                      @media only screen and (max-width: 1199px) {
                          font-size: 18px;
                      }
                      @media only screen and (max-width: 767px) {
                          margin-bottom: 8px;
                          font-size: 16px;
                      }
                  }
              }
          }
      }
  }
}
.banner-thumb-scene{
  position: relative;
  width: 350px;
  height: 440px;
  z-index: 1;
  overflow: hidden;
  @media only screen and (max-width: 767px) {
      margin: 0 auto;
  }
  @media only screen and (max-width: 400px) {
      width: 300px;
  }
  .banner-thumb-element-one{
      position: absolute;
      bottom: 0;
      right: 0;
      animation: building-move 1s ease;
  }
  .banner-thumb-element-two{
      position: absolute;
      bottom: 11%;
      right: 0;
      z-index: 3;
      animation: building-move 2s ease;
  }
  .banner-thumb-element-three{
      position: absolute;
      bottom: 23%;
      right: 27%;
      z-index: 2;
      animation: building-move 2.9s ease;
  }
  .banner-thumb-element-four{
      position: absolute;
      bottom: 14%;
      right: 56%;
      z-index: 2;
      animation: building-move 3.5s ease;
  }
  .banner-thumb-element-five{
      position: absolute;
      bottom: 2%;
      right: 20%;
      animation: building-move 1s ease;
  }
  .banner-thumb-element-eight{
      position: absolute;
      bottom: 78%;
      right: 26%;
      animation: building-move 2.9s ease;
      img{
          animation: scroll-ver 3s linear infinite;
      }
  }
}
.banner-wrapper{
  position: relative;
  .banner-element-three{
      position: absolute;
      left: 0;
      bottom: 0;
  }
}
.breadcrumb-area{
  text-align: center;
  position: relative;
  z-index: 9;
  margin-bottom: 30px;
}
.breadcrumb{
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.breadcrumb li{
  display: inline-block;
  color: $text--base;
  font-family: $font_body;
}
.breadcrumb-item a{
  font-weight: 500;
  font-size: 15px;
  position: relative;
  color: $color__heading;
  z-index: 2;
  @media only screen and (max-width: 991px) {
      font-size: 14px;
  }
}
.breadcrumb-item.active{
  font-weight: 500;
  font-size: 15px;
  position: relative;
  color: $text--base;
  z-index: 2;
  @media only screen and (max-width: 991px) {
      font-size: 14px;
  }
}
.breadcrumb-item.active::before{
  content: ">";
  font-family: $font_body;
  font-weight: 500;
  color: $color__heading;
  font-size: 18px;
  left: 0;
  top: 1px;
  position: relative;
  @media only screen and (max-width: 991px) {
      font-size: 14px;
  }
}