.team-section{
    position: relative;
    overflow: hidden;
    &.three{
        .team-item{
            text-align: left;
            border: 1px solid #EFEFEF;
            border-radius: 10px;
            padding: 10px;
            .team-content{
                padding: 25px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    @media only screen and (max-width: 991px) {
                        font-size: 18px;
                    }
                    a{
                        transition: all 0.3s;
                        &:hover{
                            color: $text--base;
                        }
                    }
                }
                .sub-title{
                    font-size: 14px;
                    color: $text--base;
                    font-weight: 400;
                }
                .team-social-area{
                    position: relative;
                    background-color: $white;
                    &:hover{
                        .team-social{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .share-icon{
                        position: relative;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        display: inline-block;
                        text-align: center;
                        border: 1.5px solid $bg--base;
                        color: $text--base;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .team-social{
                    position: absolute;
                    top: -170px;
                    right: -10px;
                    background-color: $white;
                    border-radius: 999px;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s;
                    li{
                        a{
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            display: inline-block;
                            text-align: center;
                            border: 1.5px solid $bg--base;
                            border-radius: 50%;
                            color: $text--base;
                            transition: all 0.5s;
                            &:hover{
                                background-color: $bg--base;
                                color: $white;
                            }
                        }
                        &+li{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 1) .team-item {
            .team-thumb{
                background-color: #D7A5F2;
                &:hover{
                    box-shadow: 0 15px 35px #D7A5F2;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 2) .team-item {
            .team-thumb{
                background-color: #91BDFC;
                &:hover{
                    box-shadow: 0 15px 35px #91BDFC;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 3) .team-item {
            .team-thumb{
                background-color: #E5D36B;
                &:hover{
                    box-shadow: 0 15px 35px #E5D36B;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 4) .team-item {
            .team-thumb{
                background-color: #DF6AB1;
                &:hover{
                    box-shadow: 0 15px 35px #DF6AB1;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 5) .team-item {
            .team-thumb{
                background-color: #E7694C;
                &:hover{
                    box-shadow: 0 15px 35px #E7694C;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 6) .team-item {
            .team-thumb{
                background-color: #72D2DA;
                &:hover{
                    box-shadow: 0 15px 35px #72D2DA;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 7) .team-item {
            .team-thumb{
                background-color: #E8944A;
                &:hover{
                    box-shadow: 0 15px 35px #E8944A;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 8) .team-item {
            .team-thumb{
                background-color: #D57BB9;
                &:hover{
                    box-shadow: 0 15px 35px #D57BB9;
                }
            }
        }
        div[class*="col"]:nth-of-type(9n + 9) .team-item {
            .team-thumb{
                background-color: #5B7CB7;
                &:hover{
                    box-shadow: 0 15px 35px #5B7CB7;
                }
            }
        }
    }
    .team-element{
        position: absolute;
        bottom: 0;
        left: 1%;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .team-element-one{
        position: absolute;
        top: 3%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .team-element-two{
        position: absolute;
        top: 30%;
        right: 0;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .team-element-three{
        position: absolute;
        top: 55%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .team-element-four{
        position: absolute;
        bottom: 20%;
        right: 5%;
        animation: horizontal-move 3s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
}