/*-------------------------------------------------
    [ ### terms block ]
*/
.terms-section{
    position: relative;
    .terms-element-one{
        position: absolute;
        top: 15%;
        left: 5%;
        animation: zoominoutsinglefeatured 5s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
    .terms-element-two{
        position: absolute;
        top: 40%;
        right: 5%;
        animation: scroll-down 3s linear infinite;
        @media only screen and (max-width: 1199px) {
            display: none;
        }
    }
}
.terms-content-wrapper{
    margin-bottom: -60px;
    @media only screen and (max-width: 991px) {
        margin-bottom: -20px;
    }
    .terms-content{
        margin-bottom: 60px;
        @media only screen and (max-width: 991px) {
            margin-bottom: 20px;
        }
        .title{
            border-bottom: 1px dashed #CBCBCB;
            padding-bottom: 10px;
            margin-bottom: 25px;
        }
    }
}