/*-------------------------------------------------
    [ ### brand block ]
*/
.brand-slider{
    overflow: hidden;
}
.brand-item{
    border: 1px dashed $border--base;
    text-align: center;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.5s;
    img{
        filter: grayscale(100%);
        display: inline-block;
        width: auto;
        transition: all 0.5s;
    }
    &:hover{
        background-color: $bg--gray;
        border: 1px dashed $bg--gray;
        img{
            filter: grayscale(0);
        }
    }
}