/*-------------------------------------------------
    [ ### statistics block ]
*/
.statistics-area{
    background: transparent linear-gradient(359deg, #FFFFFF 0%, #CBDCFF 100%) 0% 0% no-repeat padding-box;
    padding: 40px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    margin-top: -120px;
    @media only screen and (max-width: 991px) {
        margin-top: -80px;
        padding: 30px;
    }
    &.two{
        margin-top: 0;
    }
}
.statistics-item{
    position: relative;
    text-align: center;
    &::before{
        position: absolute;
        content: '';
        top: 30%;
        right: 0;
        width: 1px;
        height: 90px;
        background-color: rgba($bg--base, 0.2);
        @media only screen and (max-width: 575px) {
            display: none;
        }
    }
    &::after{
        position: absolute;
        content: '';
        top: 52%;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: $bg--base;
        @media only screen and (max-width: 575px) {
            display: none;
        }
    }
    .statistics-icon{
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        text-align: center;
        background: transparent linear-gradient(180deg, #741ADB 0%, #1958D8 100%) 0% 0% no-repeat padding-box;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .statistics-content{
        p{
            color: $color__heading;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            @media only screen and (max-width: 991px) {
                font-size: 16px;
            }
        }
    }
    .odo-title {
        display: inline-block;
        font-weight: 700;
        font-family: $font_body;
        font-size: 40px;
        margin-bottom: 0px;
        @media only screen and (max-width: 991px) {
            font-size: 30px;
        }
    }
    .odo-area{
        .title{
            position: relative;
            top: 7px;
            display: inline-block;
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 0;
            @media only screen and (max-width: 991px) {
                font-size: 25px;
            }
        }
    }
}
div[class*="col"]:nth-of-type(4n + 2) .statistics-item {
    &::before{
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    &::after{
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
}
div[class*="col"]:nth-of-type(4n + 4) .statistics-item {
    &::before{
        display: none;
    }
    &::after{
        display: none;
    }
}