/*-------------------------------------------------
    [ ### overview block ]
*/
.overview-content{
    .sub-title{
        color: $text--base;
        font-weight: 600;
        font-size: 16px;
        background: transparent linear-gradient(270deg, #FFFFFF00 0%, #1958D825 100%) 0% 0% no-repeat padding-box;
        letter-spacing: 0.8px;
        font-family: $font_body;
        padding: 3px 8px;
        border-left: 2px solid $bg--base;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .title{
        margin-bottom: 15px;
    }
    .overview-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-top: 40px;
        li{
            flex: 0 0 38%;
            width: 38%;
            font-weight: 700;
            color: $color__heading;
            padding-bottom: 30px;
            position: relative;
            padding-left: 30px;
            @media only screen and (max-width: 575px) {
                flex: 0 0 50%;
                width: 50%;
            }
            @media only screen and (max-width: 380px) {
                flex: 0 0 100%;
                width: 100%;
            }
            &::before{
                position: absolute;
                content: '\f00c';
                font-family: "FontAwesome";
                font-weight: 900;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: $text--base;
            }
        }
        &.two{
            li{
                padding-left: 35px;
                &::before{
                    width: 24px;
                    height: 24px;
                    background-color: rgba($bg--base, 0.12);
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }
}