/*-------------------------------------------------
    [ ### plan block ]
*/
.plan-item{
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s;
    &.two{
        border: 1px solid #EEF3FF;
        &:hover,
        &.active{
            &::after{
                background-color: #161616;
            }
            .plan-header{
                .title{
                    color: $white;
                }
                p{
                    color: #C7C7C7;
                }
            }
            .plan-list{
                li{
                    color: #C7C7C7;
                }
            }
        }
    }
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 10px;
        z-index: -1;
        transition: all 0.5s;
    }
    &:hover,
    &.active{
        box-shadow: 0 3px 30px rgba($bg--base, 0.14);
        transform: translateY(-7px);
        .plan-price-area{
            border: 2px solid transparent;
            .plan-btn{
                opacity: 1;
                visibility: visible;
            }
        }
        .bottom-shape{
            bottom: -11px;
        }
    }
    .bottom-shape{
        background: transparent -webkit-gradient(linear, left top, left bottom, from(#1958D8), to(#8D1BE4)) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #1958D8 0%, #8D1BE4 100%) 0% 0% no-repeat padding-box;
        opacity: .2;
        bottom: 15px;
        &::before{
            background: transparent -webkit-gradient(linear, left top, left bottom, from(#1958D8), to(#8D1BE4)) 0% 0% no-repeat padding-box;
            background: transparent linear-gradient(180deg, #1958D8 0%, #8D1BE4 100%) 0% 0% no-repeat padding-box;
            bottom: -10px;
        }
        &::after{
            background: transparent -webkit-gradient(linear, left top, left bottom, from(#1958D8), to(#8D1BE4)) 0% 0% no-repeat padding-box;
            background: transparent linear-gradient(180deg, #1958D8 0%, #8D1BE4 100%) 0% 0% no-repeat padding-box;
            bottom: -13px;
        }
    }
}
.plan-header-area{
    position: relative;
    overflow: hidden;
    padding: 30px 30px 0 30px;
}
.plan-icon{
    margin-bottom: 25px;
}
.plan-badge{
    position: absolute;
    top: 23px;
    right: -60px;
    width: 200px;
    height: 30px;
    background: $bg--base;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.plan-header{
    overflow: hidden;
    margin-bottom: 20px;
    .title{
        font-weight: 800;
        margin-bottom: 5px;
        transition: all 0.5s;
    }
    p{
        color: #606060;
        transition: all 0.5s;
    }
}
.plan-body{
    padding: 0 30px 30px 30px;
}
.plan-price-area{
    border: 2px solid $bg--base;
    padding: 5px;
    border-radius: 28px;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.5s;
    &.two{
        margin-bottom: 0;
        margin-top: 30px;
        border-radius: 4px;
        .plan-btn{
            a{
                border-radius: 4px;
                padding: 13px 17px;
            }
        }
    }
    .price-title{
        font-size: 24px;
        line-height: 1.6;
        font-family: $font_body;
        font-weight: 700;
        color: $text--base;
        margin-bottom: 0;
        span{
            color: $text--base;
            font-size: 16px;
            font-weight: 500;
            margin-left: 5px;
        }
    }
    .plan-btn{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        @media only screen and (max-width: 1199px) {
            width: 100%;
        }
        a{
            padding: 13px 18px;
            background: transparent linear-gradient(89deg, #1958D8 0%, #7D3AE5 100%) 0% 0% no-repeat padding-box;
            @media only screen and (max-width: 1199px) {
                width: 100%;
            }
        }
    }
}
.plan-list{
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        color: #606060;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px dashed #DEDEDE;
        transition: all 0.5s;
        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.plan-tab {
    position: absolute;
    top: -85px;
    right: 0;

    span {
        vertical-align: middle;
        color: $color__heading;
        font-weight: 500;
        font-size: 16px;
    }

    &.change-color {
        .annual_tab_title {
            color: $text--base;
        }
        .monthly_tab_title{
            color: $color__heading;
        }
    }
    .monthly_tab_title{
        color: $text--base;
    }
    &.two{
        margin-top: 40px;
        .plan-tab-switcher{
            background: $bg--base;
            &::before{
                background: $white;
            }
        }
    }
}
.plan-tab-switcher{
    height: 25px;
    width: 50px;
    background: $white;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    transition: all 0.3s ease;
    margin: 0 10px;
    transform: translateY(0);
    cursor: pointer;
    &.two{
        background-color: #F1F7FF;
        border: 1px solid $bg--base;
        &::before{
            top: 4px;
        }
    }
    &::before{
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        background: $bg--base;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        transition: all 0.3s ease;
    }
    &.active{
        &::before{
            left: calc(100% - 20px);
        }
    }
}
.plan-area {
    position: relative;
    opacity: 0;
    top: 100px;
    transition: all 0.3s;
    visibility: hidden;
    display: none;
    margin-bottom: 16px;
    &.change-subs-duration{
        visibility: visible;
        opacity: 1;
        top: 0;
        display: block;
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    }
}