/*-------------------------------------------------
    [ ### server-plan block ]
*/
.server-plan-section{
  position: relative;
  .server-plan-element-one{
      position: absolute;
      top: 35%;
      left: 13%;
      @media only screen and (max-width: 1199px) {
          display: none;
      }
  }
  .server-plan-element-two{
      position: absolute;
      bottom: 5%;
      right: 13%;
      @media only screen and (max-width: 1199px) {
          display: none;
      }
  }
}
.server-plan-area{
  background-color: $white;
  box-shadow: 0 10px 60px rgba($bg--base, 0.19);
  border-radius: 10px;
  overflow: hidden;
}
.server-plan-header{
  background: transparent linear-gradient(89deg, #1958D8 0%, #7D3AE5 100%) 0% 0% no-repeat padding-box;
  padding: 40px 0 0 0;
  @media only screen and (max-width: 991px) {
      padding: 20px 0 0 0;
  }
  .progress-area{
      padding: 0 60px;
      @media only screen and (max-width: 991px) {
          padding: 0 20px;
      }
  }
  .progress{
      background-color: rgba($white, 0.23);
      border-radius: 11px;
      height: .7rem;
      margin-top: 40px;
      overflow: visible;
  }
  .progress-bar{
      background-color: $white;
      box-shadow: 0px 8px 20px #00000063;
      border-radius: 11px;
      position: relative;
      &::before{
          position: absolute;
          content: '';
          width: 28px;
          height: 28px;
          top: -8px;
          right: -5px;
          background-color: $white;
          border-radius: 50%;
      }
      &::after{
          position: absolute;
          content: '';
          width: 14px;
          height: 14px;
          top: -1px;
          right: 2px;
          background: transparent linear-gradient(87deg, #1958D8 0%, #7D3AE5 100%) 0% 0% no-repeat padding-box;
          border-radius: 50%;
      }
  }
}
.server-plan-tab-icon{
  width: 72px;
  margin: 0 auto;
}
.server-plan-tab-content{
  padding-top: 15px;
  .title{
      color: $white;
      font-family: $font_body;
      font-weight: 700;
  }
  .sub-title{
      color: $white;
  }
}
.ram-tab-wrapper{
  margin-top: 60px;
  .monthly-tab{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  .custom-nav-tabs{
      padding: 0 60px 40px 60px;
      @media only screen and (max-width: 991px) {
          padding: 0 20px 20px 20px;
          display: flex;
          margin-bottom: 0;
      }
      .nav-link{
          background-color: rgba($white, 0.22);
          color: $white;
          font-size: 16px;
          font-weight: 500;
          border-radius: 20px;
          padding: 5px 20px;
          @media only screen and (max-width: 991px) {
              padding: 3px 15px;
              font-size: 14px;
              width: auto;
          }
          &.active{
              background-color: $bg--base;
          }
          &:not(:last-child){
              margin-right: 20px;
              @media only screen and (max-width: 991px) {
                  margin-bottom: 0;
                  margin-right: 8px;
              }
          }
      }
  }
  .ram-tab-area{
      .plan-tab-two{
          padding: 0 60px 40px 60px;
          @media only screen and (max-width: 991px) {
              padding: 0 20px 20px 20px;
          }
          .plan-tab-switcher-two{
              height: 25px;
              width: 50px;
              display: inline-block;
              border-radius: 50px;
              position: relative;
              transition: all 0.3s ease;
              margin: 0 10px;
              transform: translateY(0);
              cursor: pointer;
              background: transparent;
              border: 1px solid $white;
              &::before{
                  content: '';
                  position: absolute;
                  left: 5px;
                  width: 15px;
                  height: 15px;
                  border-radius: 100%;
                  transition: all 0.3s ease;
                  background: $white;
                  top: 4px;
              }
              &.active{
                  &::before{
                      left: calc(100% - 20px);
                  }
              }
          }
          span{
              vertical-align: middle;
              color: rgba($white, 0.5);
              font-weight: 500;
              font-size: 16px;
              @media only screen and (max-width: 991px) {
                  font-size: 14px;
              }
          }
          .monthly_tab_title{
              color: $white;
          }
          &.change-color{
              .monthly_tab_title{
                  color: rgba($white, 0.5);
              }
              .annual_tab_title{
                  color: $white;
              }
          }
      }
  }
}
.server-plan-body{
  background: $white;
  padding: 60px;
  @media only screen and (max-width: 991px) {
      padding: 20px;
  }
  .server-plan-body-content{
      .server-plan-body-content-header{
          margin-bottom: 40px;
          @media only screen and (max-width: 991px) {
              margin-bottom: 20px;
          }
      }
      .price{
          font-size: 30px;
          color: $text--base;
          @media only screen and (max-width: 991px) {
              font-size: 22px;
          }
      }
      .sub-title{
          font-size: 18px;
          font-weight: 500;
          color: #7B7B7B;
          @media only screen and (max-width: 991px) {
              font-size: 16px;
          }
      }
      .server-plan-body-btn{
          margin-top: 40px;
          @media only screen and (max-width: 991px) {
              margin-top: 20px;
          }
      }
  }
}
.server-plan-body-list {
  position: relative;
  opacity: 0;
  top: 100px;
  transition: all 0.3s;
  visibility: hidden;
  display: none;
  &.change-subs-duration{
      visibility: visible;
      opacity: 1;
      top: 0;
      display: block;
      animation-name: fadeIn;
      -webkit-animation-name: fadeIn;
      -moz-animation-name: fadeIn;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
  }
}
.server-plan-list-item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BEBEBE;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .title{
      @media only screen and (max-width: 991px) {
          font-size: 16px;
      }
  }
  .left{
      width: 33.33%;
      @media only screen and (max-width: 767px) {
          width: 50%;
      }
  }
  .center{
      width: 33.33%;
      @media only screen and (max-width: 767px) {
          width: 50%;
      }
  }
  .right{
      width: 33.33%;
      @media only screen and (max-width: 767px) {
          width: 50%;
          margin-top: 20px;
      }
  }
  &:last-child{
      border: none;
      padding: 0;
      margin: 0;
  }
}