/*-------------------------------------------------
    [ ### client block ]
*/
.client-slider-area{
    margin: -30px;
    &.two{
        margin: -15px;
    }
}
.client-slider{
    overflow: hidden;
    padding: 30px;
}
.client-slider-two{
    overflow: hidden;
    padding: 15px;
}
.client-item{
    padding: 20px 40px 40px 40px;
    border: 1px solid #ECF2FF;
    background-color: $white;
    position: relative;
    border-radius: 6px;
    z-index: 2;
    transition: all 0.5s;
    @media only screen and (max-width: 575px) {
        padding: 20px;
    }
    &:hover{
        border: 1px solid transparent;
        box-shadow: 0 12px 30px rgba(0,0,0,.13);
    }
    &.two{
        padding: 40px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba($bg--base, 0.23);
        @media only screen and (max-width: 575px) {
            padding: 20px;
        }
        &:hover{
            border: none;
        }
    }
}
.client-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #BEBEBE;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &.two{
        justify-content: flex-start;
        border: none;
        padding: 0;
        .client-header-user-content{
            padding-left: 20px;
        }
        .title{
            margin-bottom: 0;
            font-weight: 700;
            color: $text--base;
            @media only screen and (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
}
.client-ratings{
    .ratings{
        i{
            color: #E99400;
            @media only screen and (max-width: 1199px) {
                font-size: 12px;
            }
        }
    }
}
.client-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    .client-footer-left{
        .title{
            font-weight: 700;
        }
    }
    .client-footer-user-thumb{
        width: 64px;
    }
    .client-footer-user-content{
        width: calc(100% - 64px);
        padding-left: 20px;
        .title{
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 700;
            color: $text--base;
            text-transform: uppercase;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                top: 12px;
                right: 0;
                width: 30px;
                height: 1px;
                background-color: $bg--base;
                @media only screen and (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
    &.two{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 575px) {
            display: block;
        }
        .client-footer-user-content{
            width: auto;
            padding-left: 0;
            .title{
                text-transform: unset;
                font-size: 18px;
                color: $color__heading;
                font-weight: 600;
                margin-bottom: 3px;
                &::after{
                    display: none;
                }
            }
            .sub-title{
                color: #979797;
                @media only screen and (max-width: 575px) {
                    padding-bottom: 15px;
                }
            }
        }
    }
}
.client-right-thumb{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: $bg--base;
    z-index: 2;
    .client-thumb-element{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    img{
        width: 100%;
    }
    .client-thumb-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .client-thumb-video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .waves {
                width: 200px;
                height: 200px;
                border: 1px solid $white;
                background-color: transparent;
                @media only screen and (max-width: 991px) {
                    width: 150px;
                    height: 150px;
                }
            }
            .video-icon{
                background-color: $white;
                color: #9DBAFE !important;
                font-size: 40px;
                height: 100px;
                width: 100px;
                line-height: 100px;
                @media only screen and (max-width: 991px) {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                }
            }
        }
    }
}