/*-------------------------------------------------
    [ ### web-hosting-tab block ]
*/
.web-hosting-tab-section{
  position: relative;
  overflow: hidden;
  .web-hosting-element-one{
      position: absolute;
      left: 10%;
      bottom: 6%;
      animation: rotate 50s linear infinite;
  }
  .web-hosting-element-two{
      position: absolute;
      right: 5%;
      top: 40%;
      animation: zoominoutsinglefeatured 5s linear infinite;
  }
}
.web-hosting-tab-area{
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 3px 30px rgba($bg--base, 0.15);
  overflow: hidden;
  position: relative;
  &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15px;
      background-color: $bg--base;
      border-radius: 0 0 10px 10px;
  }
  &.two{
      &::before{
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          width: 30%;
          height: 100%;
          background-color: $bg--base;
          @media only screen and (max-width: 991px) {
              display: none;
          }
      }
      &::after{
          display: none;
      }
      .web-hosting-tab{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          @media only screen and (max-width: 991px) {
              display: block;
          }
          nav{
              height: 100%;
              width: 200px;
              @media only screen and (max-width: 991px) {
                  width: 100%;
              }
              .nav-tabs{
                  border: none;
                  background-color: #DEECFF;
                  padding: 0;
                  display: block;
                  text-align: center;
                  .nav-link{
                      margin-right: 0;
                      width: 100%;
                      margin: 0 auto;
                      padding: 22px;
                      border-bottom: 1px dashed #A9C5EB;
                      &:last-child{
                          border: none;
                      }
                  }
              }
          }
          .tab-content{
              width: calc(100% - 200px);
              @media only screen and (max-width: 991px) {
                  width: 100%;
              }
          }
      }
      .web-hosting-item{
          .web-hosting-content{
              .web-hosting-btn{
                  a{
                      border-radius: 6px;
                  }
              }
          }
      }
  }
}
.web-hosting-item{
  padding: 60px;
  @media only screen and (max-width: 1199px) {
      padding: 30px;
  }
  .web-hosting-content{
      .title{
          margin-bottom: 20px;
      }
      p{
          margin-bottom: 30px;
          &:last-child{
              margin-bottom: 0;
          }
      }
      .web-hosting-btn{
          margin-top: 50px;
      }
  }
}
.web-hosting-thumb{
  float: right;
  @media only screen and (max-width: 991px) {
      float: left;
  }
}