//== Template Main Color
$white: #fff;
$danger: #dc3545;
$border: #726c94;
$black: #000;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #0077b5;
$instagram: #e4405f;
$bolb-color: #FFF200;

/*-----------------
    # Typography
-----------------*/

//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;

//Load Custome Font
@font-face {
  font-family: 'Invention-Regular';
  src: url('../fonts/Invention-Regular.eot') format('eot'), url('../fonts/Invention-Regular.woff') format('woff'), url('../fonts/Invention-Regular.woff2') format('woff2'), url('../fonts/Invention-Regular.ttf') format('truetype'), url('../fonts/Invention-Regular.svg#Invention-Regular') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Invention-ExtraBold';
  src: url('../fonts/Invention-ExtraBold.eot') format('eot'), url('../fonts/Invention-ExtraBold.woff') format('woff'), url('../fonts/Invention-ExtraBold.woff2') format('woff2'), url('../fonts/Invention-ExtraBold-Book.ttf') format('truetype'), url('../fonts/Invention-ExtraBold.svg#CircularStd-Book') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Invention-Bold';
  src: url('../fonts/Invention-Bold.eot') format('eot'), url('../fonts/Invention-Bold.woff') format('woff'), url('../fonts/Invention-Bold.woff2') format('woff2'), url('../fonts/Invention-Bold.ttf') format('truetype'), url('../fonts/Invention-Bold.svg#Circular-Std-Bold') format('svg');
  font-style: normal;
}