//== Template Main Color
$white: #fff;
$danger: #dc3545;
$border: #726c94;
$black: #000;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #0077b5;
$instagram: #e4405f;
$bolb-color: #FFF200;

/*-----------------
    # Typography
-----------------*/

//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;

/*-------------------------------------------------
    [ ### font-variable start ]
*/
$font_heading: 'Spartan', sans-serif;
$font_sub_heading: 'Spartan', sans-serif;
$font_body: 'Poppins', sans-serif;
/*-------------------------------------------------
    [ ### initial-color-variable start ]
*/
$white: #ffffff; // white color
$color__heading: #161616; // Heading color
$color__text: #2A2A2A; // Text color
$bg--base: #1958D8; // Background base color
$text--base: #1958D8; // Text base color
$border--base: #E2E2E2; // Border base color
$section--bg: #000000; // Section bg color
$body--bg: #ffffff; // Body bg color
$bg--gray: #F1F7FF; // Gray bg color
$bg--secondary: #9DBAFE; // Secondary bg color